

.carousel-item img {
  max-height: 600px;
  width: 600px;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid white;
  filter: invert(1);
}

html {
  scroll-behavior: smooth; /* Smooth scroll */
}

.nav-link.active {
  font-weight: bold;
  color: #fff;
}